.tags-cloud {
    text-align: center;
}

.tags-cloud a {
    display: inline-block;
    color: #53ca94;
    padding: 4px;
}

.tags {
    display: inline-block;
    padding-left: 28px;
    margin-bottom: 10px;
}

.tag-link {
    display: inline-block;
    color: #53ca94;
    padding: 8px;
}

.tag-link:first-child {
    padding-left: 0;
}

.tag-link:hover {
    font-weight: 700;
}
