extends partial/layout

block container
    include mixins/post
    .tags-cloud
        != tagcloud(tags)
    +postList()


block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright